<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Simple Node.JS | CRUS</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{!-- <link rel='stylesheet' href='/stylesheets/style.css' /> --}}
    <!-- Font Awesome -->
    <link rel="stylesheet" href='/plugins/fontawesome-free/css/all.min.css'>
    <!-- DataTables -->
    <link rel="stylesheet" href='/plugins/datatables-bs4/css/dataTables.bootstrap4.css'>
    <!-- Theme style -->
    <link rel="stylesheet" href='/stylesheets/adminlte.min.css'>

    <!-- Ionicons -->
    <link rel="stylesheet" href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700'>

  </head>
  <body>
    <div class="wrapper">
      <!-- Navbar -->
      <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a href="{% url 'list_author' %}" class="nav-link">Author</a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a href="{% url 'list_book' %}" class="nav-link">Book</a>
          </li>
        </ul>
      </nav>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Sidebar -->
        <div class="sidebar">
          <!-- Sidebar user (optional) -->
          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
              <img src="images/df2.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
              <a href="#" class="d-block">Gutei</a>
            </div>
          </div>

          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <!-- Add icons to the links using the .nav-icon class
                  with font-awesome or any other icon font library -->
              <li class="nav-header">Books</li>
              <li class="nav-item">
                <a href="{% url 'list_author' %}" class="nav-link">
                  <i class="nav-icon far fa-user"></i>
                  <p>
                    Author
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'list_book' %}" class="nav-link">
                  <i class="nav-icon fas fa-book"></i>
                  <p>
                    Book
                  </p>
                </a>
              </li>

            </ul>
          </nav>
          <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        {{{body}}}
      </div>
      <!-- /.content-wrapper -->

      <footer class="main-footer">
        <strong>Copyright &copy; 2020</strong>
      </footer>
    </div> 

    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables -->
    <script src="/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <!-- AdminLTE App -->
    <script src="/javascripts/adminlte.js"></script>
      <!-- AdminLTE for demo purposes -->
    <script src="/javascripts/demo.js"></script>

      {{!-- {% block extra_js %}
        <!-- page script -->
        <script>
          $(function () {
            $("#example1").DataTable();
          });
        </script>
      {% endblock extra_js %} --}}

  </body>
</html>
